<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8">
      <%= render 'cmposts/cmposts', cmposts: @cmposts %>
    </div>
  </div>
<% else %>
<div class="jumbotron jumbotron-fluid" id="main-jumbo">
  <div class="cont">
     <h1 class="display-4 mt-5 font-weight-bold">Welcome to the CMposts</h1>
     <p class="lead mt-3 font-weight-bold">CMはもっと面白く見れる！！</p>
     <%= link_to 'Sign up now', signup_path, class: 'btn btn-lg btn-danger' %>
  </div>
</div>


<% end %>